<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <link href="static/style.css" rel="stylesheet">
    </head>
    <body>    
        <center>
            <div class='cont'>
                <h2>Covid-19 X-RAY <br> Scanner</h2>
            </div>

            <div class='desc'>
                <p> Welcome to the COVID-19 x-ray scanner
                    <br> Upload a chest x-ray image to see whether you have covid or not
                    <br> This scanner uses machine learning to process the image through a neural network
                    <br> and diagnose the individual based on the image
                </p>

            </div>

            <!-- <img src="/displayimages/COVID-4.png"> -->
            


        <!-- Create buttons to allows users to select xray from computer then submit-->
        <form method="POST" action="{{url_for('home')}}" enctype="multipart/form-data">
            <input type="file" name='image' class='btn'> <br><br><br>
            <input type="submit" class='btn'>
            <br><br><br><br>
        </form>
      


    </center>

    </body>
</html>